body{
    background-color: #f9f9f9;
    font-family:Arial, sans-serif;
}
.page-title{
    text-align:center;
}
table{
    border-collapse:collapse;
    margin:auto;
    width:80%;
}
caption{
    font-weight:bold;
    font-size:1.5em;
    margin:20px 0;
}
thead th{
    background-color:#4CAF50;
    color:white;
    padding:12px;
    text-align:left;
}
tbody td{
    border:1px solid #ddd;
    padding:10px;
}
tbody tr:nth-child(even){
    background-color:#f2f2f2;
}
tbody tr:hover{
    background-color:#e6f7ff;
}
